<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head_html">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/css/header.css}" rel="stylesheet" >
    <link th:href="@{/css/index.css}" rel="stylesheet" >
    <link th:href="@{/css/upload.css}" rel="stylesheet" >


    <title>J'Offre</title>
</head>
<body style="background-color: #FFFFFF;">

    <header th:fragment="header_html">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" style="margin-left: 30px;" href="/"> <img th:src="@{/css/logo_don.jpg}"  width="30" height="30" class="d-inline-block align-top rounded-circle" alt="Logo">J'offre.ma</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul th:if="${user}" class="navbar-nav ml-auto">
                            <li class="nav-item" style="margin-right:30px;">
                                <a class="nav-link" href="upload"><i class="fa fa-plus" aria-hidden="true"></i> Proposer un offre </a>
                            </li>
                            <li class="nav-item">
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-user" aria-hidden="true"  th:text="${user.username}" >  </i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a href="profile" class="dropdown-item"> profile </a>
                                    <div class="dropdown-divider"></div>
                                    <a type="button" class="dropdown-item" href="logout" > Log out </a>
                                </div>
                            </li>
                </ul>
                <ul th:unless="${user}" class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <button type="button" class="btn btn-default btn-circle btn-outline" data-toggle="modal" data-target="#connexion" >Se connecter</button>
                            </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Modal -->
    <div th:fragment="modal_html" class="modal fade" id="connexion" tabindex="-1" role="dialog" aria-labelledby="connexionLabel" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered" role="document" >
            <div class="modal-content" >
                <div class="modal-header" style="background-color: #fafafa;">
                    <h5 class="modal-title" id="exampleModalLabel">Authentification</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">

                    <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="true"></div>
                    <!-- Load the JS SDK asynchronously -->
                    <script src="js/Oauth.js"></script>

                    <div id="fb-root"></div>
                    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v11.0&appId=3286155231619263&autoLogAppEvents=1" nonce="TRRZNcD4"></script>
                    <p> <span id="name"></span> </p>
                    <form method="POST" action="login">
                        <input type="hidden" id="username" name="username"  />
                        <input type="hidden" id="idUser" name="idUser"  />
                        <button type="submit button" class="btn btn-default btn-circle btn-outline" >Continuer...</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <footer class="bg-dark text-center text-white"  th:fragment="footer_html">
        <!-- Grid container -->
        <div class=" p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                ><i class="fa fa-facebook"></i
                ></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                ><i class="fa fa-twitter"></i
                ></a>

                <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                ><i class="fa fa-google"></i
                ></a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                ><i class="fa fa-instagram"></i
                ></a>

            </section>
        </div>

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);"> &#169; 2020 ENSIAS:
            <a class="text-white" href="#">Projet Spring</a>
        </div>
    </footer>


    <!-- js scripts-->
    <div th:fragment="js_scripts_html">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



        <script>
            $('#myModal').on('shown.bs.modal', function () {
                $('#myInput').trigger('focus')
            })


            $(function(){
                $("#addClass").click(function () {
                    $('#chat').addClass('popup-box-on');
                });

                $("#removeClass").click(function () {
                    $('#chat').removeClass('popup-box-on');
                });
            })
        </script>
    </div>
</body>
</html>