<!DOCTYPE html>
<html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout :: head_html">
<body style="background-color: #FFFFFF;">
    <header th:replace="layout :: header_html">
    </header>


<div class="main-upload">
    <div class="row" >
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <section>
                <form action="#" th:action="@{/upload}" method="post" th:object="${offer}" enctype="multipart/form-data" >
                <fieldset>
                    <legend>Publier une Offre</legend>
                    <div class="form-group ">
                        <label for="title">Titre d'offre</label>
                        <input class="form-control"  type="text" id="title" name="title" th:field="*{titre}"  placeholder="Title" th:attr="value=#{offer.titre}" />
                        <span class="erreur" th:text=#{form.errors['title']}></span>
                        <span class="erreur" th:text=#{form.errors['user']}></span>
                        <br />
                    </div>

                    <div class="form-group ">
                        <label for="description">Description d'offre</label>
                        <textarea type="text"  class="form-control"  id="description" placeholder="Description" rows="3" name="description"  th:attr="value=#{offer.description}"> </textarea>
                        <span class="erreur" th:text=#{form.errors['description']}></span>
                        <br />
                    </div>

                    <div class="form-group ">
                        <label for="city">Ville d'offre</label>
                        <select id="city" class="form-control" name="city" th:attr="value=#{offer.city}">
                        <span th:each="city, status : ${City}">
                            <option th:value="${status.index}" th:text="${city}"></option>
                        </span>
                        </select>
                        <span class="erreur" th:text=#{form.errors["city"]}></span>
                        <br />
                    </div>

                    <div class="form-group ">
                        <label for="category">Catégorie</label>
                        <select id="category" class="form-control" name="category" th:attr="value=#{offer.category}">
                        <span th:each="category, status : ${Category}">
                            <option th:value="${status.index}" th:text="${category}"></option>
                        </span>
                        </select>
                        <span class="erreur">${form.errors['category']}</span>
                        <br />
                    </div>
                    <div class="form-group ">
                        <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )"> Ajouter image</button>
                        <input class="file-upload-input" type="file" id="file" style="display: none;" name="file" accept="image/*" />
                        <span class="erreur">${form.errors['file']}</span>
                        <br />
                    </div>
                    <div>
                        <input class="btn btn-block btn-orange" type="submit" value="publier" />
                        <br />
                    </div>
                </fieldset>
                </form>
            </section>
        </div>
        <div class="col-sm-3"></div>
    </div>


</div>
    <footer th:replace="layout :: footer_html">
    </footer>
    <div th:replace="layout :: js_scripts_html">
    </div>
</body>
</html>
